<!DOCTYPE html>
<html>
<head>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap" /></svg>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/whichmovieisgood/AnaSayfa" class="nav-link px-2 link-secondary">AnaSayfa</a></li>
                <li><a href="/whichmovieisgood/YeniCıkanlar" class="nav-link px-2 link-dark">Yeni Çıkan Filmler</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Katagori</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Forum</a></li>
                <li><a href="/whichmovieisgood/Iletisim" class="nav-link px-2 link-dark">İletişim</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </header>
    </div>

        <div>
            @RenderBody()
        </div>

    </body>
</html>