
<!doctype html>
<html lang="en">

<head>
    <title>AnaSayfa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">

    <title>Album example · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">



    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <main>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/ResidentEvilRaccoonCity.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Resident Evil Raccoon City</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Korku, Aksiyon, Gizem</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Johannes Roberts</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Kaya Scodelario, Hannah John-Kamen, Neal McDonough, Tom Hopper, Robbie Amell</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>3 Aralık 2021</p>
                                <p class="card-text"><strong>Süre: </strong> 1s 47dk</p>
                                <p class="card-text"><strong>Özet: </strong>Resident Evil: Welcome to Raccoon City, tüm dünyaya yayılan bir vahşetin Raccoon City'de zincirlerinden koptuğu gece yaşananları konu ediniyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/SwordArtOnline.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Sword Art Online</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Macera, Animasyon, Aksiyon</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Ayako Kawano</p>
                                <p class="card-text"><strong>Oyuncular: </strong>---</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>31 Aralık 2021</p>
                                <p class="card-text"><strong>Süre: </strong>1s 37dk</p>
                                <p class="card-text"><strong>Özet: </strong>Anime dizisi Sword Art Online'ın sinema uyarlamalarından biri olan Sword Art Online The Movie - Progressive, 2022'de piyasaya sürülen ve oyunda ölenlerin gerçekte de öldüğü bir online oyunda sıkışıp kalanların hikâyesini anlatmaya devam ediyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/TheKingMan.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>The King Man</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Macera, Komedi, Aksiyon</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Matthew Vaughn</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Ralph Fiennes, Harris Dickinson, Djimon Hounsou, Tom Hollander, Gemma Arterton</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>7 Ocak 2022</p>
                                <p class="card-text"><strong>Süre: </strong> 2s 04dk</p>
                                <p class="card-text"><strong>Özet: </strong>Eggsy ile Harry'nin maceralarını takip ettiğimiz serinin orijin hikâyesi The King's Man, Ralph Fiennes'in hayat verdiği Oxford Dükü ile Beach Rats filmiyle adını duyuran Harris Dickinson'ın canlandırdığı Conrad'ın, bildiğimiz anlamıyla Kingsman'in ilk yıllarında dünyayı tehdit eden kötücül bir güce karşı koymaya çalışmaları anlatılıyor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
