
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcılar</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Mail Adres</th>
        <th>Cep Telefon Numara</th>
        <th>Şifre</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Deneme</td>
        <td>Mail</td>
        <td>5465456564654</td>
        <td>54654</td>
    </tr>
</table>