
<!doctype html>
<html lang="en">

<head>
    <title>AnaSayfa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">

    <title>Album example · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">



    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body background="/Resimler/ArkaPlan.jpg">

    <marquee onmouseover="this.stop()" onmouseout="this.start()" direction="horizontal" scrollamount="3"
             scrolldelay="60" loop="99999" style="width: 100%;">
        <img src="/Resimler/FransızPostası.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/AykutEnişte2.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/BokuNoHeroAcademiaTheMovie3.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/EveDönüşYok.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/GucciAilesi.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/IntikamVakti.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/KesişmeİyiKiVarsınEren.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/KirpiSonic.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/MatrixResurrections.jpg" alt="Kayan resim" width="192" height="250" />
        <img src="/Resimler/ResidentEvilRaccoonCity.jpg" alt="Kayan resim" width="192" height="250" />
    </marquee>

    <center><h1><strong>Ana Sayfa</strong></h1></center>

    <main>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/FransızPostası.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Fransız Postası</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Komedi, Dram, Romantik</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Wes Anderson</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Frances McDormand, Tilda Swinton, Bill Murray, Elisabeth Moss, Timothée Chalamet</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>3 Aralık 2021</p>
                                <p class="card-text"><strong>Süre: </strong> 1s 48dk</p>
                                <p class="card-text"><strong>Özet: </strong>20. yüzyılda hayali bir Fransız kasabasında geçen film, bölgenin popüler dergisi The French Dispatch of the Liberty, Kansas Evening Sun'da yayımlanan farklı farklı hikâyeleri odağına alıyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/AykutEnişte2.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Aykut Enişte 2</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Komedi</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Onur Bilgetay</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Cem Gelinoğlu, Melis Babadağ, Lale Başar, Hakan Yılmaz, Müfit Kayacan</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>3 Aralık 2021</p>
                                <p class="card-text"><strong>Süre: </strong> 1s 59dk</p>
                                <p class="card-text"><strong>Özet: </strong>Aykut Enişte 2, Gülşah ile evlenme arifesinde olan Aykut'un, ailenin eski eniştesinin ortaya çıkmasıyla başından geçenleri konu ediniyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/BokuNoHeroAcademiaTheMovie3.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Boku No Hero Academia The Movie 3</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Animasyon, Aksiyon, Fantastik</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Kenji Nagasaki</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Daiki Yamashita, Nobuhiko Okamoto, Yûki Kaji</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>26 Kasım 2021</p>
                                <p class="card-text"><strong>Süre: </strong> 1s 41dk</p>
                                <p class="card-text"><strong>Özet: </strong>My Hero Academia isimli anime dizisinin üçüncü sinema filmi olan My Hero Academia The Movie: World Heroes' Mission, şehri ve insanları tehlikeye atan yeni ve gizemli bir tehditle mücadele içerisindeki Deku ve profesyonel süper kahraman ekibinin hikâyesini anlatıyor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/EveDönüşYok.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Eve Dönüş Yok</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Macera, Bilim-Kurgu, Aksiyon</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Jon Watts</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Tom Holland, Zendaya, Benedict Cumberbatch, Marisa Tomei, Jamie Foxx</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>17 Aralık 2021</p>
                                <p class="card-text"><strong>Süre: </strong> 2s 05dk</p>
                                <p class="card-text"><strong>Özet: </strong>Spider-Man: No Way Home, kimliği açığa çıkan Örümcek-Adam'ın, bu konuda Doctor Strange'den yardım istemesiyle gelişen çetrefilli olayları konu ediniyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/GucciAilesi.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Gucci Ailesi</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Gerilim, Dram, Suç</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Ridley Scott</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Lady Gaga, Adam Driver, Jared Leto, Al Pacino, Salma Hayek</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>26 Kasım 2021</p>
                                <p class="card-text"><strong>Süre: </strong>2s 43dk</p>
                                <p class="card-text"><strong>Özet: </strong>Ridley Scott'ın yönettiği House of Gucci, 1980'lerde aile içi anlaşmazlıkları iyice ayyuka çıkan moda devi Gucci ailesini ve 1995 yılında Maurizio Gucci'nin öldürülmesine kadar varan skandalları anlatıyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/IntikamVakti.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Intikam Vakti</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Gerilim, Suç, Aksiyon, IMAX</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Guy Ritchie</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Jason Statham, Holt McCallany, Josh Hartnett, Scott Eastwood, Jeffrey Donovan</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>26 Kasım 2021</p>
                                <p class="card-text"><strong>Süre: </strong>1s 58dk</p>
                                <p class="card-text"><strong>Özet: </strong>Guy Ritchie ile Jason Statham'ın yeniden bir araya geldiği Wrath of Man, çocuğunun katilini bulabilmek için büyük meblağlarda nakit para taşımacılığı yapan bir firmada güvenlik olarak işe başlayan gizemli bir adamın kişisel intikam mücadelesini anlatıyor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/KesişmeİyiKiVarsınEren.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Kesişme - İyi Ki Varsın Eren</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Dram, Biyografi</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Özer Feyzioğlu</p>
                                <p class="card-text"><strong>Oyuncular: </strong>İsmail Hacıoğlu, Rahman Beşel, Alayça Öztürk Gidişoğlu, Emir Çiçek, Mutlunur Lafçı</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>1 Ocak 2022</p>
                                <p class="card-text"><strong>Süre: </strong> 1s 55dk</p>
                                <p class="card-text"><strong>Özet: </strong>Kesişme; İyi ki Varsın Eren, Trabzon Maçka'da teröristlerle kahraman Mehmetçiğin çatışması sırasında hayatını kaybeden Eren Bülbül ve onu korumaya çalışırken şehit olan Astsubay Kıdemli Başçavuş Ferhat Gedik’in hayat hikayesini konu ediyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/KirpiSonic.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Kirpi Sonic</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Macera, Animasyon, Aksiyon</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Jeff Fowler</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Jim Carrey, James Marsden, Neal McDonough, Tika Sumpter</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>14 Şubat 2020</p>
                                <p class="card-text"><strong>Süre: </strong>1s 40dk</p>
                                <p class="card-text"><strong>Özet: </strong>Aynı isimli ünlü video oyundan sinemaya uyarlanan Sonic the Hedgehog, devletin mavi kirpi Sonic'i yakalaması için çılgın bilim insanı Dr. Ivo Robotnik'i görevlendirmesiyle gelişen olayları konu ediniyor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="image">
                                <img class="fr" width="100%" height="225" src="/Resimler/MatrixResurrections.jpg" alt="">
                            </div>

                            <div class="card-body">
                                <p class="card-text" style="text-align:center"><strong>Matrix Resurrections</strong></p>
                                <p class="card-text"><strong>Filmin Türü: </strong>Bilim-Kurgu, Aksiyon</p>
                                <p class="card-text"><strong>Yönetmen: </strong>Lana Wachowski</p>
                                <p class="card-text"><strong>Oyuncular: </strong>Keanu Reeves, Carrie-Anne Moss, Yahya Abdul-Mateen II, Jonathan Groff, Jessica Henwick</p>
                                <p class="card-text"><strong>Vizyon Tarihi: </strong>26 Kasım 2021</p>
                                <p class="card-text"><strong>Süre: </strong>2s 56dk</p>
                                <p class="card-text"><strong>Özet: </strong>Bir yaşanan gerçek vardır, bir de yaşananın ötesinde olan gerçeklik... Biri rüya, diğeri ise Matrix! Neo,son derece tehlikeli bir adam olan Morpheus’un gerçeği bildiğine inanmaktadır. Bir gece Neo, kendisini başka bir dünyaya götürebilecek güzel yabancı Trinity ile tanışır</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
